.navbar .navbar-nav .nav-link:not(.btn) i.fa{
    font-size: 18px;
    position: relative;
    top: 3px;
    text-align: center;
    width: 21px;
}
.copyright {
    width: 100%;
    text-align: center;
}
#about-komikero {
    background: -webkit-linear-gradient(to top, rgba(0,0,0,0.9), rgba(0,0,0,0.9)),
        url(komik-logo.jpg);;  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, rgba(0,0,0,0.9), rgba(0,0,0,0.9)),
        url(komik-logo.jpg);
}
.title {
	text-align: center; 
 	color: yellow;
}
.title-car {
  text-align: center;
}
.description {
	text-align: center;
  	color: white;
}
.rounded {
	max-width: 100%;
  	box-shadow: 10px 15px 8px #888888;
  	margin-bottom: 110px;
 	margin-top: 20px;
}
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: block;
  box-sizing: border-box;
}

.carousel .carousel-inner {
  box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.3);
  border-radius: 0.1875rem;
  box-sizing: border-box;
}

.carousel .card {
  max-width: 650px;
  margin: 60px auto;
  display: block;
  box-sizing: border-box;
}
.d-block{
  width: 700px;
  height: 500px;
}
.section-signup {
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
/*.section-anime{
background: #403B4A;   fallback for old browsers 
background: -webkit-linear-gradient(to right, #434343, #434343);   Chrome 10-25, Safari 5.1-6 
background: linear-gradient(to right, #434343, #434343);  W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ 

}*/